
<h1>Login</h1>
<hr>
<div class="row justify-content-center">
  <div class="col-9">
    <form  class="p-4" (submit)="ingresar()" >
      <input type="text"
        [(ngModel)]="nombre"
        name = "nombre"
        class="form-control"
        placeholder="Nombre Usuario"
        autofocus
        autocomplete="off"
      >

      <button class="btn btn-primary btn-block margin-top-10" 
      [disabled]=" nombre.trim().length === 0 ">
        Ingresar
      </button>
    </form>

  </div>

</div>